.footer {
    background-color: #0291DD;
    color: #fff;
}
.wrapper {
    z-index: 3;
    display: block;
    width: 100%;
    max-width: 1140px;
    min-width: auto;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    background-color: transparent;
    text-align: left;
}
.footer-grid {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}
.w-layout-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}
.top_nav_footer {
    position: relative;
    width: 100%;
    padding: 48px 15px;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    border-top: 1px solid hsla(0,0%,100%,.2);
    border-bottom: 0 hsla(0,0%,100%,.2);
}
.footer-bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0;
    margin-left: 0;
    padding: 24px 15px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    border-top: 1px solid hsla(0,0%,100%,.2);
    color: hsla(0,0%,100%,.5);
    font-size: 11px;
    line-height: 16px;
    background: none;
}

#w-node-_70d8ac6c-2285-3673-8445-13757b35872a-7b358727, #w-node-d43e55f7-ac42-d551-4318-d60c01c595bd-7d1321c2, #w-node-d43e55f7-ac42-d551-4318-d60c01c595bd-e31321c1, #w-node-d43e55f7-ac42-d551-4318-d60c01c595bd-ef1321c3 {
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    grid-column-start: span 12;
    -ms-grid-column-span: 12;
    grid-column-end: span 12;
    -ms-grid-row-align: auto;
    align-self: auto;
}

.footer-top.cycle {
    margin-bottom: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
}
.footer-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
    padding-top: 32px;
    padding-bottom: 32px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid hsla(0,0%,100%,.2);
}
#w-node-_2f02a46d-5323-e12c-570a-37552eef22a0-7b358727, #w-node-_471088f0-95fe-8737-3927-e92ebdfb48b0-7b358727, #w-node-_617a078b-c15c-d5f7-48de-6803bb29c0f3-7b358727, #w-node-_70d8ac6c-2285-3673-8445-13757b35872e-7b358727, #w-node-_70d8ac6c-2285-3673-8445-13757b358739-7b358727, #w-node-_81dd3c75-ba44-7573-dab3-134dae0b71d4-8c132189, #w-node-_81dd3c75-ba44-7573-dab3-134dae0b71da-8c132189, #w-node-a5655f81-cb83-b4aa-6ba8-6fe80a405d6d-5b132178, #w-node-ad60a8fb-c0dc-9baa-3c27-30c001bae099-ac132183, #w-node-ad60a8fb-c0dc-9baa-3c27-30c001bae0a3-ac132183, #w-node-ad60a8fb-c0dc-9baa-3c27-30c001bae0ad-ac132183, #w-node-b5352b66-1408-525b-745e-a6b873faea45-601321bd, #w-node-b5352b66-1408-525b-745e-a6b873faea4f-601321bd, #w-node-b5352b66-1408-525b-745e-a6b873faea59-601321bd, #w-node-b5352b66-1408-525b-745e-a6b873faea63-601321bd, #w-node-c66bd37a-3bbe-0a10-efe0-f059b25892d9-7b358727, #w-node-d43e55f7-ac42-d551-4318-d60c01c595c3-7d1321c2, #w-node-d43e55f7-ac42-d551-4318-d60c01c595c3-e31321c1, #w-node-d43e55f7-ac42-d551-4318-d60c01c595c3-ef1321c3, #w-node-d43e55f7-ac42-d551-4318-d60c01c595c9-7d1321c2, #w-node-d43e55f7-ac42-d551-4318-d60c01c595c9-e31321c1, #w-node-d43e55f7-ac42-d551-4318-d60c01c595c9-ef1321c3, #w-node-d43e55f7-ac42-d551-4318-d60c01c595cd-7d1321c2, #w-node-d43e55f7-ac42-d551-4318-d60c01c595cd-e31321c1, #w-node-d43e55f7-ac42-d551-4318-d60c01c595cd-ef1321c3, #w-node-d7131d36-e7c9-85cc-bbb0-fa79f12cd55c-7b358727, #w-node-e5105ff2-ed42-a14c-3309-75dfbfb94a52-ac132183, #w-node-e5105ff2-ed42-a14c-3309-75dfbfb94a5c-ac132183, #w-node-e5105ff2-ed42-a14c-3309-75dfbfb94a66-ac132183, #w-node-e5105ff2-ed42-a14c-3309-75dfbfb94a70-ac132183, #w-node-e8561838-d10c-f96a-42b0-967761d6bab8-601321bd, #w-node-e8561838-d10c-f96a-42b0-967761d6babf-601321bd, #w-node-e8561838-d10c-f96a-42b0-967761d6bac8-601321bd, #w-node-e8561838-d10c-f96a-42b0-967761d6bace-601321bd, #w-node-eddc58e3-710b-4093-28a9-7e56d1b8eda9-6c1321c9, #w-node-eddc58e3-710b-4093-28a9-7e56d1b8eda9-d91321c8, #w-node-eddc58e3-710b-4093-28a9-7e56d1b8edb0-6c1321c9, #w-node-eddc58e3-710b-4093-28a9-7e56d1b8edb0-d91321c8, #w-node-eddc58e3-710b-4093-28a9-7e56d1b8edb8-6c1321c9, #w-node-eddc58e3-710b-4093-28a9-7e56d1b8edb8-d91321c8, #w-node-eddc58e3-710b-4093-28a9-7e56d1b8edbf-6c1321c9, #w-node-eddc58e3-710b-4093-28a9-7e56d1b8edbf-d91321c8, #w-node-eddc58e3-710b-4093-28a9-7e56d1b8edc6-6c1321c9, #w-node-eddc58e3-710b-4093-28a9-7e56d1b8edc6-d91321c8, #w-node-eddc58e3-710b-4093-28a9-7e56d1b8edcd-6c1321c9, #w-node-eddc58e3-710b-4093-28a9-7e56d1b8edcd-d91321c8 {
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
}

.footer-v1-column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
#w-node-_70d8ac6c-2285-3673-8445-13757b358753-7b358727 {
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    grid-column-start: 10;
    -ms-grid-column-span: 3;
    grid-column-end: 13;
}
.footer-bottom-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.footer-bottom-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
}
.social-icons-small {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.social-link-small-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 6px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
    -webkit-transition: background-color .4s;
    transition: background-color .4s;
}

.h-l {
    padding-top: 6px;
    padding-bottom: 6px;
    color: #fff;
    cursor: pointer;
}
.w-inline-block {
    max-width: 100%;
    display: inline-block;
}
a {
    background-color: transparent;
    color: #367fd3;
    text-decoration: none;
}
.dot-divider.white {
    background-color: hsla(0,0%,100%,.3);
}

.dot-divider {
    width: 4px;
    height: 4px;
    margin-right: 8px;
    margin-left: 8px;
    border-radius: 50%;
    background-color: #e3e3e3;
}
.footer-heading {
    margin-bottom: 20px;
    font-family: Roboto,sans-serif;
    font-size: 21px;
    line-height: 28px;
    font-weight: 700;
}
.subscribe-container {
    width: 100%;
    color: #fff;
}
.w-embed:after, .w-embed:before {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}
.form-small {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 48px;
    padding: 4px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 10%);
}
.form-small-input {
    height: 100%;
    margin-bottom: 0;
    padding: 12px 16px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border: 1px #000;
    background-color: transparent;
    color: #000;
    font-size: 15px;
    line-height: 20px;
}
.button.small-form-arrow-button {
    width: 40px;
    height: 40px;
    padding: 8px;
    background-image: url(https://assets.website-files.com/5e5d435â¦/5e5d435â¦_arrow-right-white.svg);
    background-position: 50% 50%;
    background-size: 24px;
    background-repeat: no-repeat;
}

.button {
    display: inline-block;
    height: 48px;
    padding: 12px 24px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px transparent;
    border-radius: 6px;
    background-color: #367fd3;
    -webkit-transition: background-color .4s,border-color .4s,box-shadow .4s,-webkit-transform .4s;
    transition: background-color .4s,border-color .4s,transform .4s,box-shadow .4s,-webkit-transform .4s;
    font-family: Roboto,sans-serif;
    color: #fff;
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}
.form-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 12px;
    margin-bottom: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Roboto,sans-serif;
    font-size: 9px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.image-2 {
    display: inline-block;
    width: 255.00001525878906px;
    height: 50px;
    margin: 0;
    padding-top: 0;
}
.footer-link:hover {
    text-decoration: underline;
}

a:active, a:hover {
    outline: 0;
}
.footer-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 6px;
    padding-bottom: 6px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-transition: color .2s;
    transition: color .2s;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
}
.ft_link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 2px;
    padding-bottom: 2px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-transition: color .2s;
    transition: color .2s;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
}
